<%- include('parcial/head.html'); -%>
<body>
    <div class="container">
        <!--Navegacion-->
        <%- include('parcial/navegacion.html'); -%>
        
        <div class="container-form">
        <div class="box-nav d-flex justify-between">
            <div class="filter">
                <a href="/datos"><i class="fas fa-angle-double-left"></i> All Sensors</a>
            </div>
         </div>
         <div class="form-title text-center">
             <h2 class="text-dark">Nuevo Sensor</h2>
             <span class="text-light">Utilice el siguiente formulario para crear un nuevo sensor </span>
         </div>
          <!-- add sensors form -->
        <%- include('parcial/form.html'); %>
    </div>
    </div>
</body>
<%- include('parcial/footer.html'); -%>
</html>