<%- include('parcial/head.html'); -%>

    <body>
        <div class="container">
            <!--Navegacion-->
            <%- include('parcial/navegacion.html'); -%>
                <!--Tabla-->
                <h2 class="tit">Lista de los Datos de los Contenedores</h2>
                <!-- Agregar Usuario-->
                <div class="box-nav d-flex justify-between">
                    <a href="/add-sensors" class="border-shadow">
                        <span class="text-dark">New Sensors <i class="fas fa-user"></i></span>
                    </a>
                </div>
                <!--Tabla-->
                <form action="/" method="POST">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th>ID</th>
                                <th>Distancia</th>
                                <th>Altitud</th>
                                <th>Longitud</th>
                                <th>Fecha</th>
                                <th>Hora</th>
                                <th>Nivel</th>
                                <th>Estado</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <%- include('parcial/sensors.html'); -%>
                        </tbody>
                    </table>
                </form>
        </div>
    </body>
    <!--Footer-->
    <%- include('parcial/footer.html'); -%>

        </html>