<%- include('parcial/head.html'); -%>

<body>
    <div class="container">
        <!--Navegacion-->
        <%- include('parcial/navegacion.html'); -%>
        <!--Home Container-->
        <div class="grid-2 home">
            <div class="grid-white">
                <h3>
                    <p>Smart Trash Collection</p>
                </h3>
                <p><br>Plataforma distribuida para la recolección en ruta de desperdicios de ciudades superpobladas<br></p>
                <ul>
                    <li class="button">
                        <a href="/datos">Iniciar >></a>
                    </li>
                </ul>
            </div>
            <div class="grid-whit">
                <img class="img-block" src="/Imagenes/main-banner.png" alt="Banner"
                    style="width: 100%; text-align: center; align-items: center;">
            </div>
        </div>
        <!--Problem Container-->
        <div class="grid-2 problem grid-b" id="Problema">
            <div class="img">
                <img src="/Imagenes/Proyecto - Función General.png" alt="Problema" class="arq-img-b">
            </div>
            <div class="text-w">
                <h1>El Problema</h1>
                <p>
                    <br><br> El principal problema que se puede destacar es la escasa y poco eficiente recolección de
                    basura debido a la excesiva cantidad de desperdicios provocados por la inconsciencia de las
                    personas, la cual ha provocado graves problemas de contaminación en las grandes ciudades, la manera
                    en que se desea aplicar una contramedida es implementando una arquitectura inteligente y escalable.
                    <br><br>Con una recolección de basura más eficiente y optimizada, la reducción de
                    tiempo, costo de recolección traen consigo el promover en gran medida el desarrollo de ciudades
                    inteligentes y sus métodos o estándares de convivencia.
                    <br><br>Esta implementación llamada SYSTEM CALL: STC (SMART TRASH COLLECTION) es una arquitectura
                    avanzada, destinada a resolver
                    los problemas ambientales al reducir los desechos detectando contenedores sobrecargados, mediante
                    una arquitectura distribuida que cuenta con una cola
                    de mensaje RabbitMQ.
                    <br><br>Por lo tanto, al optar por la aplicación de esta
                    arquitectura, se debe considerar los avances en el desarrollo de este proyecto, esta arquitectura
                    escalable es útil para ciudades que quieren reducir el impacto ambiental y mejorar el estilo de vida
                    con una herramienta eficaz.
                </p>
            </div>
        </div>
        <!--Architecture Container-->
        <div class="grid-2 architecture grid-w" id="Arquitectura">
            <div class="text-w">
                <h1>Arquitectura</h1>
                <p>
                    <br><br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum molestiae aperiam,
                    ipsam qui quibusdam tempore.
                    <br><br>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus voluptatem
                    similique, accusantium iure molestias adipisci? Adipisci quo excepturi iusto reiciendis? A
                    illo
                    magnam accusantium suscipit ad dolore. Iusto, deleniti porro.
                    <br><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, veniam fuga est
                    sed
                    dolore rerum!
                    <br><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati exercitationem
                    veniam
                    reiciendis suscipit dignissimos, ipsam maiores cumque atque officiis sint rerum unde laborum
                    sequi omnis quis ratione culpa porro optio.
                    <br><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit sapiente asperiores
                    dolor
                    perspiciatis debitis, ab praesentium ipsum magni accusantium dicta eligendi non in harum
                    sunt?
                    Itaque molestiae alias maxime soluta.
                </p>
            </div>
            <div class="img">
                <img src="/Imagenes/Proyecto - PUB_SUS.png" alt="Arquitectura" class="arq-img-w">
            </div>
        </div>
        <!--Development Container-->
        <div class="development grid-b" id="Desarrollo">
            <div class="text-w">
                <h1>Desarrollo</h1>
                <p>

                    </br>Este proyecto tuvo dos etapas de desarrollo, uno de ellos fue el sistemas distribuido y por
                    otro lado su Pagina Web.</br></br>
                    El sistema distribuido se realizó en python como lenguaje de Programación para ejecutar el
                    Publicador, el Suscriptor y a su vez el controlador de sensores que tiene la tarea de simular los
                    diferentes sensores que se necesitan al momento de ejecutar el proyecto como tal; Como base de datos
                    se utiliza MongoDB Atlas un servicio de Cloud Database creado por el propio MongoDB.</br></br>
                    La Pagina Web se la realiza con NodeJs como un entorno en tiempo de ejecución multiplataforma, JS
                    (JavaScript) como lenguaje de programación interprete, por su parte también se utiliza HTML y CSS,
                    HTML (Hypertext Markup Language) que le va a dar la estructura principal a la Pagina Web y CSS
                    (Cascading Style Sheets) el diseño tanto visual como auditivo.</br></br>
                    Todas estas tecnologias se combinan para realizar una pagina web en donde se visualizan los datos
                    que procesan los sensores colocados en los contenedores de una manera más visual y directa, como la
                    ubicación exacta del contenedor, su estado, el nivel de desechos que contiene, la distancia, Además
                    de la hora y la fecha que son emitidas la alertas de llenado.</br></br>
                    En la pagina Web también se incluye un mapa de las rutas en tiempo real de los contenedores que
                    tienen un nivel de llenado superior al 75% y que permanecen activo, también se puede apreciar el
                    listado de las rutas a recolectar, el tiempo que se toma el recorrido total y los kilometros que se
                    recorre recolectando todos los sensores que emiten la alerta de llenado y finalmente indicaciones
                    por donde tienen que ir a la hora de recolectar los contenedores.</br></br>
                    La pagina Web para realizar todo el proceso de visualización de datos, creación de nuevos sensores,
                    edición de los sensores y eliminación de los sensores, se conecta con un API creada por los mismos
                    autores a partir de Express y MongoDB.</br></br></br>
                </p>
            </div>
            <div class="img grid-5">
                <div>
                    <i class="fab fa-python fa-10x"></i></br>
                    <h3>Python</h3>
                </div>
                <div>
                    <i class="fab fa-node-js fa-10x"></i></br>
                    <h3>NodeJs</h3>
                </div>
                <div>
                    <i class="fab fa-js fa-10x"></i></br>
                    <h3>JS</h3>
                </div>
                <div>
                    <i class="fab fa-html5 fa-10x"></i></br>
                    <h3>HTML</h3>
                </div>
                <div>
                    <i class="fab fa-css3-alt fa-10x"></i></br>
                    <h3>CSS</h3>
                </div>
            </div>
        </div>
        <!--Desing Container-->
        <div class="grid-2 desing grid-w" id="Diseño">
            <div class="img">

            </div>
            <div class="text-w">
                <h1>Diseño</h1>
                <p></br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum molestiae aperiam,
                    ipsam
                    qui quibusdam tempore.</br></br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas ipsa, delectus neque sit
                    tempore odio eveniet error, est asperiores, tempora ipsum earum dolorum. Fugit magnam quam
                    alias? Mollitia, beatae dolorem!</br></br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, quod. Id possimus
                    quibusdam,
                    unde quam quae odit necessitatibus vel, nulla repellendus, illum vero! Ut perferendis veniam
                    alias doloribus animi ducimus!</br></br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni dolore eaque quibusdam rerum
                    nesciunt! Aspernatur!</br>
                </p>
            </div>
        </div>
        <!--Solution Container-->
        <div class="solution" id="Solución">
            <div>
                <h1>Solución</h1>
                <p><br>La implementación de una arquitectura inteligente que permite la recolección de basura
                    de un modo más eficiente y óptimo reduciendo tiempos y costos de recolección, permite en
                    gran manera un avance para las ciudades inteligentes y su manera o normas de convivencia,
                    esta implementación denominada System call: STC (Smart Trash Collection) es una
                    arquitectura de alto nivel, no solo ayuda con la recolección de basura que ahora con la
                    población en aumento trae consigo consecuencias tales como lo son los desechos, residuos,
                    etc.
                    <br><br>Esta arquitectura también ayuda con los problemas ambientales ya que al reducir los
                    desechos se reduce el impacto ambiental, las ciudades inteligentes son capaces de entender
                    el significado de esto, por lo que han optado por la aplicación de esta arquitectura, tenemos
                    que tomar en cuenta el avance que se realiza conforme se desarrolla esta implementación,
                    sus ventajas son mayores que sus desventajas así que esta arquitectura es una herramienta.
                </p>
            </div>
        </div>
    </div>
</body>
<!--Footer-->
<%- include('parcial/footer.html'); -%>

</html>