<%- include('parcial/head.html'); -%>

<body>
    <div class="container">
        <!--Navegacion-->
        <%- include('parcial/navegacion.html'); -%>
        <!-- Map - Leaflet-->
        <h2 class="tit">Mapa de las Rutas</h2>
        <div class="grid-map">
            <div id="map-template"></div>
            <div id="controls"></div>
        </div>
    </div>
</body>
<!--Footer-->
<%- include('parcial/footer.html'); -%>
</html>