<%- include('parcial/head.html'); -%>

    <body>
        <div class="container">
            <!--Navegacion-->
            <%- include('parcial/navegacion.html'); -%>
                <main id="site-main">
                    <div class="container-form">
                        <div class="box-nav d-flex justify-between">
                            <div class="filter">
                                <a href="/datos"><i class="fas fa-angle-double-left"></i> All Sensors</a>
                            </div>
                        </div>
                        <div class="form-title text-center">
                            <h2 class="text-dark">Editar Sensor</h2>
                            <span class="text-light">Utilice el siguiente formulario para Editar un sensor
                                Existente</span>
                        </div>

                        <%- include('parcial/form-update.html'); -%>
                    </div>
                </main>
        </div>
    </body>
    <%- include('parcial/footer.html'); -%>

        </html>