:root{
    --dark: #2b2d42;
    --light: #adb5bd;
    --border: #dee2e6;
    --border-btn: #edf2f4;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#map-template{
    grid-template-columns: 1fr;
    padding: 30%;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 90%;
    left: 5%;
    color: black;
}

.tit{
    color: black;
    text-align: center;
    margin-top: 3.5%;
    background-color: white;
}

.border-shadow{
    border: 1px solid var(--border-btn);
    box-shadow: 1px 3px 10px #e9ecef;
}

.justify-between{
    justify-content: space-between;
}

.text-gradient{
    background: linear-gradient(to right, #8e2de2, #4a00e0);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.d-flex{
    display: flex;
    flex-wrap: wrap;
}

.table{
    margin:auto;
    padding: 0%;
    padding-bottom: 40%;
    margin-top: 6em;
    text-align: center;
}

.table td, .table th{
    padding: .75em;
    vertical-align: top;
    text-align: center;
    border-top: 1px solid var(--border);
}

.table td > a.btn{
    padding: .3em;
    font-size: 1.1em;
    margin: 0.2em;
    cursor: pointer;
}

.table tr:hover td > a{
    box-shadow: none;
}

.table .thead-dark th{
    color: white;
    background-color: var(--dark);
    border-color: #000000;
}

.table tr{
    background-color: white;
    color: var(--dark);
}

.table tr:hover{
    background-color: #06d6a0;
}

table{
    border-spacing: 0px;
    width: 100%;
}

html, body{
    height:100%;
}

body{
    background: black;
    color: whitesmoke;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%23454545' fill-opacity='0.4' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E");
    font-family: 'Noto Sans', sans-serif;
}

a{
    text-decoration: none;
    color: black;
    background-color: white;
}

ul{
    list-style: none;
}

.container{
    margin: auto;
}
/* Navigation*/
.nav-main{
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 40px 40px;
    background-color: white;
    text-align: right;
}

.nav-brand{
    width: 50px;
    margin-left: 10px;
}

.nav-main ul{
    display: flex;
}

.nav-main ul li{
    padding: 20px;
    align-items: center;
}

.container ul li a:hover{
    padding: 1px;
}


.container ul li a:hover{
    border-bottom:  2px solid black;
    background-color: #f0f0f0;
    /*color: teal;
    cursor: copy;*/
    font-weight: bold;
    opacity: .5;
}

.nav-main ul.nav-menu{
    flex: 1;
    margin-left: 20px;
}

.nav-brand:hover{
    cursor: pointer;
}

.nav-menu{
    text-align: center;
}

.grid-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-5{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.home{
    margin: auto;
    background-image: url("/Imagenes/Background.png");
    background-size: cover;
    text-align: center;
    align-items: center;
    color: black;
    padding: 5%;
    height: 5%;
    width: 100%;
    height: 90%;
}

.home p{
    padding: 1.5%;
}

.home .grid-white{
    padding: 25%;
    flex: 2px;
}

.nav-menu .btn{
    background-color: #555555;
    font-size: 20px;
    color: white;
    padding: 16px;
    border-radius: 8px;
    display: none;
}

.button {
	box-shadow: 0px 10px 9px -7px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:42px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
    color:#666666;
    font-family: 'Noto Sans', sans-serif;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.button:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}

.button:active {
	position:relative;
	top:1px;
}

.problem{
    margin: auto;
    text-align: left;
    align-items: center;
    color: black;
    padding: 5%;
    height: 5%;
    width: 100%;
    height: 90%;
}

.problem{
    padding: 5% 15%;
}

.architecture{
    margin: auto;
    text-align: left;
    align-items: center;
    color: black;
    padding: 5%;
    height: 5%;
    width: 100%;
    height: 90%;
}

.architecture{
    padding: 5% 15%;
}

.development{
    margin: auto;
    text-align: center;
    align-items: center;
    color: black;
    padding: 5%;
    height: 5%;
    width: 100%;
    height: 90%;
}

.development{
    padding: 5% 15%;
}

.desing{
    margin: auto;
    text-align:left;
    align-items:center;
    color: black;
    padding: 5%;
    height: 5%;
    width: 100%;
    height: 90%;
}

.desing{
    padding: 5% 20%;
}

.solution{
    margin: auto;
    text-align: center;
    align-items: center;
    color: black;
    padding: 5%;
    height: 5%;
    width: 100%;
    height: 90%;
}

.solution{
    padding: 5% 20%;
}

.grid-w{
    background-color: white;
    position: relative;
    color: black;
}

.grid-b{
    background-color: black;
    position: relative;
    color: white;
}

.arq-img-b{
    width: 95%;
}

.arq-img-w{
    width: 100%;
    margin-left: 15%;
    text-align: center;
    align-items: center;
}

.footer {
    background: #2f3640;
    color: #cfcfcf;
    font-size: .5rm;
    padding: 20px 0;
    text-align: center;
    padding-bottom: 20px;
}

.text-light{
    color: var(--light);
}

.text-center{
    text-align: center;
}

.text-dark{
    color: var(--dark);
}

#site-main .container .box-nav > a{
    font-size: 1em;
    padding: .5em 1em;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  

  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }

  .form-title{
    margin-top: 2em;
}

.form-title > h2{
    padding: .5em 0;
}

.new_sensors{
    max-width: 786px;
    margin: auto;
}

.new_sensors{
    max-width: 786px;
    margin: auto;
    
}
.container-form{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;
    background-color: white;
}

#update_sensors .form-group,
#add_sensors .form-group{
    margin: .4em 0;
}

#update_sensors .form-group input[type="text"],
#add_sensors .form-group input[type="text"],
#update_sensors .form-group input[type="number"],
#add_sensors .form-group input[type="number"]{
    width: 100%;
    padding: .6em 1em;
    margin: .5em 0;
    border: 1px solid var(--border);
    font-family: 'Barlow', sans-serif;
    font-size: 1em;
    border-radius: .2em;
}

#update_sensors .form-group .radio,
#add_sensors .form-group .radio{
    margin: 1em 2em;
}

.leaflet-routing-alt {
    color: black;
}

.grid-map{
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: initial;
}

#controls{
    grid-template-columns: 1fr;
    padding: 30%;
    margin-top: 10%;
    margin-bottom: 10%;
    align-items: initial;
    width: 90%;
    color: black;
}

.legend {
    line-height: 20px;
    color: #555;
    background-color:white;
  	border-radius: 5px;
  	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
  	align-items: center;
  	justify-content: center;
  	padding: 5%;
  	box-shadow: 0px 0px 5px 1px black;  	
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
  	border: black .5px solid;
}

.table td > a.btn{
    padding: .3em 1em;
    font-size: 1.1em;
    margin: 0 .2em;
}

/* adding style to radio buttons */
.radio input[type='radio']{
    position: absolute;
    opacity: 0;
}

.radio input[type='radio'] + .radio-label:before{
    content: "";
    background: var(--border-btn);
    border-radius: 100%;
    border: 1px solid var(--border);
    display: inline-block;
    width: 1em;
    height: 1em;
    position: relative;
    top: -0em;
    margin-right: .5em;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease;
}

.radio input[type='radio']:checked + .radio-label:before{
    background-color: #16db93;
    box-shadow: inset 0 0 0 4px #e9ecef;
}

.radio input[type='radio']:focus + .radio-label:before{
    outline: none;
    border-color:#16db93;
}

.radio input[type='radio']:disabled + .radio-label:before{
    box-shadow: inset 0 0 0 4px #e9ecef;
    border-color: #b4b4b4;
    background: #b4b4b4;
}

#update_sensors .form-group .btn,
#add_sensors .form-group .btn{
    width: 100%;
    padding: .9em 1em;
    background-color:#16db93; 
    border: none;
    font-family: 'PT Sans', sans-serif;
    font-size: 1em;
    cursor: pointer;
    border-radius: .2em;
    margin: .5em 0;
}

#update_sensors .form-group .btn:hover,
#add_sensors .form-group .btn:hover{
    background-color: var(--dark);
    color: var(--border);
}
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
    .grid-2{
        display: grid;
        grid-template-columns: 1fr;
    }

    .grid-5{
        display: grid;
        grid-template-columns: 1fr;
    }

    .dir{
        display: none;
    }

    thead, tbody, table, td, th, tr{
        display: block;
    }
    thead tr{
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    tr{border: 1px solid var(--border);}
    td{
        border: none;
        border-bottom: 1px solid var(--border);
    }
    .nav-menu .btn{
        background-color: #555555;
        font-size: 25px;
        color: white;
        padding: 16px;
        border-radius: 8px;
        display: inline-block;
        border: none;
        text-decoration: none;
        display: inline-block;
        transition-duration: 0.4s;
    }
    .nav-menu .btn:hover{
        background-color: white;
        color: #555555;
        border: 2px solid #555555;
    }
    .img-block{
        display: none;
    }
  }