<!-- form handling -->
<form method="POST" id="update_sensors">
    <div class="new_sensors">
        <div class="form-group">
            <div class="form-group">
                <label for="Distancia" class="text-light">Distancia: </label>
                <input type="hidden" name="id" value="<%= sensors._id %>"/>
                <input type="text" name="Distancia" value="<%= sensors.Distancia %>" placeholder="2000"/>
            </div>
            <div class="form-group">
                <label for="Altitud" class="text-light">Altitud: </label>
                <input type="text" name="Altitud" value="<%= sensors.Altitud %>"
                    placeholder="-1.234567"/>
            </div>
            <div class="form-group">
                <label for="Longitud" class="text-light">Longitud: </label>
                <input type="text" name="Longitud" value="<%= sensors.Longitud %>"
                    placeholder="-1.234567"/>
            </div>
            <div class="form-group">
                <label for="Fecha" class="text-light">Fecha: </label>
                <input id="date" type="text" name="Fecha" value="<%= sensors.Fecha %>" placeholder="23-11-2000"/>
            </div>
            <div class="form-group">
                <label for="Hora" class="text-light">Hora: </label>
                <input type="text" id="time" name="Hora" value="<%= sensors.Hora %>" placeholder="00:00:00"/>
            </div>
            <div class="form-group">
                <label for="Nivel" class="text-light">Nivel: </label>
                <input type="number" name="Nivel" value="<%= sensors.Nivel %>" placeholder="0"
                    min="0" max="100"/>
            </div>
            <div class="form-group">
                <label for="Estado" class="text-light">Estado: </label>
                <div class="radio inline">
                    <input type="radio" id="radio-4" name="Estado" value="Activo"
                        <%=sensors.Estado=='Activo' ? 'checked' : '' %>/>
                    <label for="radio-4" class="radio-label text-dark">Activo</label>
                </div>
                <div class="radio inline">
                    <input type="radio" id="radio-5" name="Estado" value="Inactivo"
                        <%=sensors.Estado=='Inactivo' ? 'checked' : '' %>/>
                    <label for="radio-5" class="radio-label text-dark">Inactivo</label>
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn text-dark update">Guardar</button>
            </div>
        </div>
    </div>
</form>