<!-- form handling -->
<form action="/api/sensors" method="POST" id="add_sensors">
    <div class="new_sensors">
        <div class="form-group">
            <label for="Distancia" class="text-light">Distancia: </label>
            <input type="text" name="Distancia" value="" placeholder="2000">
        </div>
        <div class="form-group">
            <label for="Altitud" class="text-light">Altitud: </label>
            <input type="text" name="Altitud" value="" placeholder="-1.234567">
        </div>
        <div class="form-group">
            <label for="Longitud" class="text-light">Longitud: </label>
            <input type="text" name="Longitud" value="" placeholder="-1.234567">
        </div>
        <div class="form-group">
            <label for="Fecha" class="text-light">Fecha: </label>
            <input id="date" type="text" name="Fecha" value="" placeholder="23-11-2000">
        </div>
        <div class="form-group">
            <label for="Hora" class="text-light">Hora: </label>
            <input type="text" id="time" name="Hora" value="" placeholder="00:00:00"/>
        </div>
        <div class="form-group">
            <label for="Nivel" class="text-light">Nivel: </label>
            <input min="0" name="Nivel" value="" type="number" placeholder="0" max="100">
        </div>
        <div class="form-group">
            <label for="Estado" class="text-light">Estado: </label>
            <div class="radio inline">
                <input type="radio" id="radio-4" name="Estado" value="Activo">
                <label for="radio-4" class="radio-label text-dark">Activo</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-5" name="Estado" value="Inactivo">
                <label for="radio-5" class="radio-label text-dark">Inactivo</label>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Guardar</button>
        </div>

    </div>
</form>