<nav class="nav-main">
    <div class="nav-logo">
        <a href="/" >
            <img alt="Logo-SmartGC" class="nav-brand" onmouseout="this.src='https://image.flaticon.com/icons/png/512/1960/1960032.png';" onmouseover="this.src='https://image.flaticon.com/icons/png/512/1960/1960022.png';" src="https://image.flaticon.com/icons/png/512/1960/1960032.png" />
        </a>
    </div>
    <div class="nav-menu">
        <ul class="nav-menu" >
            <li class="dir">
                <a href="/datos">Datos</a>
            </li>
            <li class="dir">
                <a href="/rutas">Rutas</a>
            </li>
            <li class="dir">
                <a href="/#Problema">Problema</a>
            </li>
            <li class="dir">
                <a href="/#Arquitectura">Arquitectura</a>
            </li>
            <li class="dir">
                <a href="/#Desarrollo">Desarrollo</a>
            </li>
            <li class="dir">
                <a href="/#Diseño">Diseño</a>
            </li>
            <li class="dir">
                <a href="/#Solución">Solución</a>
            </li>
            
            <button class="btn">
                <i class="fas fa-bars"></i>
            </button>
        </ul>
    </div>
</nav>