<% for(var i = 0; i < sensors.length; i++) { %>
    <tr>
        <td><%= i + 1 %></td>
        <td><%= sensors[i].Distancia %></td>
        <td><%= sensors[i].Altitud %></td>
        <td><%= sensors[i].Longitud %></td>
        <td><%= sensors[i].Fecha %></td>
        <td><%= sensors[i].Hora %></td>
        <td><%= sensors[i].Nivel %> %</td>
        <td><%= sensors[i].Estado %></td>
        <td>
            <a href="/update-sensors?id=<%= sensors[i]._id%>" class="btn border-shadow update">
                <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
            </a>
            <a class="btn border-shadow delete" data-id=<%= sensors[i]._id%> >
                <span class="text-gradient"><i class="fas fa-times"></i></span>
            </a>
        </td>
    </tr>
    <% } %>